<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br/>
    <%= f.datetime_select :date %>
  </div>
  
  <br/>
  
  <div>
    <h3>Coach<h3>
  </div>
  
  
  <%= f.fields_for :coaches do |af| %>
    <div class="fields">
       <%= render 'coach_fields', f: af %>
  	</div>
  <% end %>
  
  <div><%= link_to_add_fields "Add coach", f, :coaches %></div>
  
  <div>
    <h3>Attendee<h3>
  </div>
  
  <%= f.fields_for :attendances do |af| %>
    <div class="fields">
      <%= af.hidden_field :has_attended, value:false %>
      
      <div class="field">
      	<div class="field">
      			<%= af.label :name %>
      			<%= af.select :user_id, User.all.collect {|a| [ a.name + " " + a.email, a.id ]}, include_blank: true %>
      	</div>
      	
      	 <div class="field">
      	  <%= af.label :type %>
      	  <%= af.select :user_type, ['ADMIN', 'STUDENT'] %>
        </div>
      
      	<div class="field">
      		<%= af.hidden_field :_destroy %>
    			<%= link_to "remove", '#', onclick: 'remove_fields(this)' %>
      	</div>
    	</div>
    	<p></p>
  	</div>
  <% end %>


  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
